<div class="container">
	<h1 class="text-center">Restaurants App</h1>
	<br><br><br>
	<%= link_to "Add New Restaurant", new_restaurante_path, class: "btn btn-success float-right" %>
	<br><br><br>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Name</th>
      <th scope="col">Site</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Lat</th>
      <th scope="col">Long</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</div>

